node_modules
dist
.env
.turbo
packages/api/storage/campaigns/
packages/api/storage/config.json
packages/api/storage/backups/
packages/api/storage/license.json
packages/api/storage/compendium/adventures/
packages/api/storage/logs/
packages/api/storage/props/
packages/api/storage/icons/
packages/api/storage/creatures/
packages/api/storage/tilesets/
packages/api/storage/genre-tile-map.json
packages/api/storage/saved-adventures/
packages/api/storage/storyboard-test/
