.card--wrapper {
  width: 100%;
  max-width: 1200px;
  background:
    radial-gradient(100% 106.69% at 2.15% 0%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%),
    #131317;
  border-radius: 10px;
  box-sizing: border-box;
  margin: auto;
}

@media (prefers-color-scheme: light) {
  .card--wrapper {
    background: #fff;
  }
}
